<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>timetableController</servlet-name>
        <servlet-class>controller.student.timetable</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>timetableView</servlet-name>
        <jsp-file>/view/student/timetable.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>AttendanceRpController</servlet-name>
        <servlet-class>controller.student.AttendanceReport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AttendanceRpView</servlet-name>
        <jsp-file>/view/student/AttendanceReport.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>TakeAttendaceController</servlet-name>
        <servlet-class>controller.lecturer.TakeAttendance</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AttendedView</servlet-name>
        <jsp-file>/view/lecturer/Attandance/Attended.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>AddAtendanceView</servlet-name>
        <jsp-file>/view/lecturer/Attandance/AddAttandance.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>lecturerTimetableController</servlet-name>
        <servlet-class>controller.lecturer.Timetable</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>lecturerTimetableView</servlet-name>
        <jsp-file>/view/lecturer/timetable.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>CheckAttendanceRpController</servlet-name>
        <servlet-class>controller.lecturer.CheckAttendanceReport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AttendanceReportView</servlet-name>
        <jsp-file>/view/lecturer/Attandance/AttendanceReport.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>loginController</servlet-name>
        <servlet-class>controller.auth.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logoutController</servlet-name>
        <servlet-class>controller.auth.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginView</servlet-name>
        <jsp-file>/view/auth/login.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>StudentHomeController</servlet-name>
        <servlet-class>controller.student.Home</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentHomeView</servlet-name>
        <jsp-file>/view/student/Home.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>LecturerHomeController</servlet-name>
        <servlet-class>controller.lecturer.Home</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LecturerHomeView</servlet-name>
        <jsp-file>/view/lecturer/Home.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>timetableController</servlet-name>
        <url-pattern>/student/timetable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>timetableView</servlet-name>
        <url-pattern>/student/timetable/view</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AttendanceRpController</servlet-name>
        <url-pattern>/student/Report/Attendance</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AttendanceRpView</servlet-name>
        <url-pattern>/student/Report/Attendance/view</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TakeAttendaceController</servlet-name>
        <url-pattern>/lecturer/TakeAttendace</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AttendedView</servlet-name>
        <url-pattern>/lecturer/Attended/view</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddAtendanceView</servlet-name>
        <url-pattern>/lecturer/addAttendance/view</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>lecturerTimetableController</servlet-name>
        <url-pattern>/lecturer/timetable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>lecturerTimetableView</servlet-name>
        <url-pattern>/lecturer/timetable/view</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckAttendanceRpController</servlet-name>
        <url-pattern>/lecturer/CheckAttendanceRp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AttendanceReportView</servlet-name>
        <url-pattern>/lecturer/CheckAttendanceRp/view</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logoutController</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginView</servlet-name>
        <url-pattern>/login/view</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentHomeController</servlet-name>
        <url-pattern>/student/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentHomeView</servlet-name>
        <url-pattern>/student/home/view</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LecturerHomeController</servlet-name>
        <url-pattern>/lecturer/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LecturerHomeView</servlet-name>
        <url-pattern>/lecturer/home/view</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
