<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>timetableController</servlet-name>
        <servlet-class>controller.student.timetable</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>timetableView</servlet-name>
        <jsp-file>/view/student/timetable.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>AttendanceRpController</servlet-name>
        <servlet-class>controller.student.AttendanceReport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AttendanceRpView</servlet-name>
        <jsp-file>/view/student/AttendanceReport.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>TakeAttendaceController</servlet-name>
        <servlet-class>controller.lecturer.TakeAttendance</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AttendedView</servlet-name>
        <jsp-file>/view/lecturer/Attandance/Attended.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>AddAtendanceView</servlet-name>
        <jsp-file>/view/lecturer/Attandance/AddAttandance.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>SingleAttendanceReportController</servlet-name>
        <servlet-class>controller.lecturer.SingleAttendanceReport</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>timetableController</servlet-name>
        <url-pattern>/student/timetable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>timetableView</servlet-name>
        <url-pattern>/student/timetable/view</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AttendanceRpController</servlet-name>
        <url-pattern>/student/Report/Attendance</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AttendanceRpView</servlet-name>
        <url-pattern>/student/Report/Attendance/view</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TakeAttendaceController</servlet-name>
        <url-pattern>/lecturer/TakeAttendace</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AttendedView</servlet-name>
        <url-pattern>/lecturer/Attended/view</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddAtendanceView</servlet-name>
        <url-pattern>/lecturer/addAttendance/view</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SingleAttendanceReportController</servlet-name>
        <url-pattern>/lecturer/SingleAttendanceReport</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
